.board-container {
  height: 48vh;
  width: 48vh;
  display: grid;
  // grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0px;

  background: #f4f4f4;
  box-sizing: border-box;
  border: solid #555555 2px;
  border-radius: 5px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.board-square {
  // height: 100%;
  // width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh
}

.board-white {
  background-color: #D6D6D6;
  border: 1px solid black;
}

.board-black {
  background-color: #555555;
  border: 1px solid black;
}

.board-label {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 2vh;
    margin: 0;
  }
}

.piece-white{
  color: #F5F5F5;
  text-shadow: 0 0 3px #000;
}

.piece-black{
  color: #141414;
  text-shadow: 0 0 3px #000;
}
