.chess-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Game Bar Section ***********************************************************/
.game-bar {

}


.clock-timer {

}
/* Board Section **************************************************************/

.board-container {
  height: 48vh;
  width: 48vh;
  display: grid;
  // grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0px;

  background: $off-white;
  box-sizing: border-box;
  border: solid $board-black 2px;
  border-radius: 5px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.board-space {
  // height: 100%;
  // width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh
}

.board-white {
  background-color: $board-white;
  border: 1px solid black;
}

.board-black {
  background-color: $board-black;
  border: 1px solid black;
}

.board-label {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 2vh;
    margin: 0;
  }
}

.board-move-option {
  box-shadow: inset 0 0 0.1em 0.05em $move-option, inset 0 0 0.2em 0.1em $move-option-light,inset 0 0 0.3em 0.2em $move-option-lighter;
}

.piece-white {
  color: $piece-white;
  text-shadow: 0 0 0.2em #525252;
}

.piece-black {
  color: $piece-black;
  text-shadow: 0 0 0.2em #525252;
}

.piece-selected {
  text-shadow: 0 0 0.2em $orange, 0 0 0.4em $lighter-orange, 0 0 0.6em $lightest-orange;
}
