// Define variables for your color scheme

// For example:
$background-orange: #EB961E;

// Board and Chat
$off-white: #f4f4f4;
$piece-white: #F5F5F5;
$piece-black: #141414;
$board-black: #666666;
// $board-black: #965D0D;
$board-white: #D6D6D6;

// Selection
$orange: #EB961E;
$lighter-orange: #EFA743;
$lightest-orange: #F2B969;

$move-option: #0F8B8D;
$move-option-light: #15C8CB;
$move-option-lighter: #59EBEE;
