// Define variables for your color scheme

// For example:
$background-orange: #EB961E;
$off-white: #f4f4f4;
$piece-white: #F5F5F5;
$piece-black: #141414;
$board-black: #555555;
$board-white: #D6D6D6;
