// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap/scss/bootstrap";

//Colours
@import "colours";

// CSS partials
@import "components/index";



body {
  background-color: $background;
  margin: 0;
}

@font-face {
   font-family: 'Build';
   src: url('tf2build.ttf');
}
