// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap/scss/bootstrap";

//Colours
@import "colours";

// CSS partials
@import "components/index";



body {
  background-color: $background-orange;
  margin: 0;
  height: 100%;
  // overflow: hidden;
}

// document.documentElement.style.setProperty(‘overflow’, ‘auto’)
// const metaViewport = document.querySelector(‘meta[name=viewport]’)
// metaViewport.setAttribute(‘content’, ‘height=’ + initialHeight + ‘px, width=device-width, initial-scale=1.0’)

// const metaViewport = document.querySelector(‘meta[name=viewport]’)
// metaViewport.setAttribute(‘content’, ‘width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0’)
